.container{
    padding: 2em;
    margin: auto;
    width:90%;
    background-color: blueviolet;
    
}
.search-c{
    width: 30%;
    line-height: 2;
    border-radius: 4px;
}
.search-c:focus{
    border-color: red;
    width: 100%;
}
