body{
    margin: 0;
    padding: 0;
    background: black;
}
.flag-niger{
    height: 200px;
    width: calc(200px*7/6);
    background-color: white;
    margin: 1em auto;
    display: grid;
    
}
.orange{
    background:orange;
}
.white{
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    background: green;
}
.circle{
    background: orange;
    height: calc(200px/3*.85);
    width: calc(200px/3*.85);
    border-radius: 50%;
    position: absolute;

}

