body{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 3em auto;
}
.progress-bar{
    height: 1.5em;
    border-radius: 20px;
    background: lightgray;

}
.progress-status{
    background: red;
    width: 10%;
    animation: 6s linear showprogress infinite;
}
@keyframes showprogress{
    50%{
        width: 50%;
        background: blue;
    }
    75%{
        width: 75%;
        background: purple;
    }
    100%{
        width: 100%;
        background: green;
    }   

}
