body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.card{
    border: 1px solid black;
    height: 200px;
    width: calc(200px*2/3);
    border-radius: 5px;
    display: grid;
    padding: .5em;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.bottom{
    transform: rotate(180deg);
}
.top > div:first-child,
.bottom > div.first-child{
    padding-left: 2px;
}